{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Oops! An Error Occurred{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 40px;">
        <h1>Oops! {{ status_code }} Error</h1>
        <p>{{ status_text }}</p>

        {# Optional debug info (hide in production) #}
        {% if exception is defined and app.debug %}
            <pre>{{ exception.message }}</pre>
        {% endif %}
    </div>
{% endblock %}
